{%  extends 'main.html' %}

{% block content %}

{%  include 'status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>Заказчики:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_customer' %}">Добавить заказчика</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Заказчик</th>
					<th>Номер телефона</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">Профиль</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'delete_customer' customer.id %}">Удалить</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Последние 5 заказов</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Создать заказ</a>
			<table class="table table-sm">
				<tr>
					<th>Продукт</th>
					<th>Дата заказа</th>
					<th>Статус</th>
					<th>Обновить</th>
					<th>Удалить</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Обновить</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Удалить</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}

